<%#= div_for comment do %>
<div class="comments-user">
	<%=image_tag "avatar-comment.png" %>
	<span><%= comment.name %><span>
	<lable><%= comment.body %></lable>
</div>
<% if @article.owned_by? current_user %>
<div class='actions'>
	<%= link_to 'Delete', [@article, comment], confirm: 'Are you sure?', method: :delete %>
</div>
<% end %>

<%# end %> 
